<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookingList">

	<select id="listAll" resultType="BookingListVo">
		select
		m.movie_title, m.movie_no,
		c.cinema_name, c.cinema_region, t.theater_name,
		t.theater_total_seats,
		start_date, end_date, start_time, end_time,
		remaining_seats,
		movie_schedule_date_disc, movie_schedule_time_disc, movie_schedule_no
		from movie_schedule ms
		join
		theater t on ms.theater_no = t.theater_no
		join cinema c on
		t.cinema_no=c.cinema_no join movie m on m.movie_no=
		ms.movie_no
		order by m.movie_title asc
	</select>

	<select id="listByMovie" resultType="BookingListVo">
		select
		m.movie_title,
		m.movie_no, c.cinema_name, c.cinema_region,
		t.theater_name,
		t.theater_total_seats,
		start_date, end_date, start_time, end_time,
		remaining_seats,
		movie_schedule_date_disc, movie_schedule_time_disc,
		movie_schedule_no
		from movie_schedule ms
		join
		theater t on ms.theater_no
		= t.theater_no
		join cinema c on
		t.cinema_no=c.cinema_no join movie m on
		m.movie_no=
		ms.movie_no
		where m.movie_no= #{movieNo}
		order by cinema_name
		asc
	</select>

	<select id="listByCinema" resultType="BookingListVo">
		select m.movie_title,
		m.movie_no, c.cinema_name, c.cinema_region, t.theater_name,
		t.theater_total_seats,
		start_date, end_date, start_time, end_time,
		remaining_seats,
		movie_schedule_date_disc, movie_schedule_time_disc,
		movie_schedule_no
		from movie_schedule ms
		join
		theater t on ms.theater_no
		= t.theater_no join cinema c on
		t.cinema_no=c.cinema_no join movie m on
		m.movie_no= ms.movie_no
		where
		m.movie_no= #{movieNo} and cinema_name =
		#{cinemaName}
		order by
		m.movie_title asc
	</select>

	<select id="listByDate" resultType="BookingListVo">
		select m.movie_title,
		m.movie_no, c.cinema_name, c.cinema_region, t.theater_name,
		t.theater_total_seats,
		start_date, end_date, start_time, end_time,
		remaining_seats,
		movie_schedule_date_disc, movie_schedule_time_disc,
		movie_schedule_no
		from movie_schedule ms
		join
		theater t on ms.theater_no
		= t.theater_no join cinema c on
		t.cinema_no=c.cinema_no join movie m on
		m.movie_no= ms.movie_no
		where
		m.movie_no= #{movieNo} and cinema_name =
		#{cinemaName} and start_date
		= #{startDate}
		order by start_time asc
	</select>

	<select id="movieTitle" resultType="MovieListVo">
		SELECT MIN(m.movie_title) AS
		movie_title, m.movie_no, m.movie_age
		FROM movie_schedule ms
		JOIN theater
		t ON ms.theater_no = t.theater_no
		JOIN cinema c ON t.cinema_no =
		c.cinema_no
		JOIN movie m ON m.movie_no = ms.movie_no
		GROUP BY
		m.movie_no, m.movie_age
		ORDER BY MIN(c.cinema_name) ASC
	</select>

	<select id="theaterList" resultType="String">
		SELECT DISTINCT
		c.cinema_name
		FROM movie_schedule ms
		JOIN theater t ON ms.theater_no =
		t.theater_no
		JOIN cinema c ON t.cinema_no = c.cinema_no
		JOIN movie m ON
		m.movie_no = ms.movie_no
		where m.movie_no = #{movieNo}
		ORDER BY
		c.cinema_name ASC
	</select>


	<select id="scheduleDetail" resultType="BookingListVo">
		select
		m.movie_title,
		m.movie_no, c.cinema_name, c.cinema_region, t.theater_name,
		t.theater_total_seats,
		start_date, end_date, start_time, end_time,
		remaining_seats,
		movie_schedule_date_disc, movie_schedule_time_disc,
		movie_schedule_no
		from movie_schedule ms
		join
		theater t on ms.theater_no
		= t.theater_no join cinema c on
		t.cinema_no=c.cinema_no join movie m on
		m.movie_no= ms.movie_no
		where
		ms.MOVIE_SCHEDULE_NO = #{movieScheduleNo}
	</select>




	<!-- <select id="seatTypes" resultType="SeatTypesDto"> SELECT * FROM seat_types 
		WHERE theater_no = #{aaa} </select> -->

	<select id="seatTypes" resultType="SeatTypesDto">
		SELECT st.*,
		sr.reservation_status
		FROM seat_types st
		LEFT JOIN seat_reservation sr
		ON st.seat_types_no = sr.seat_types_no
		AND sr.movie_schedule_no =
		#{movieScheduleNo}
		WHERE st.theater_no = #{theaterNo}
	</select>

	<select id="theaterDistinct" resultType="BookingTheaterVo">
		select t.theater_no,
		t.theater_name
		from theater t join cinema c on c.cinema_no =
		t.cinema_no
		where c.cinema_name = #{cinemaName}

	</select>

	

</mapper>