<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cart">
	
	<!-- 데이터 삽입 -->
	<insert id="cartAdd">
		insert into cart(
			cart_user_id, cart_product_no, 
			cart_qty, cart_date
		)
		values (
			#{cartUserId}, #{cartProductNo},
			#{cartQty}, sysdate
		)
	</insert>
	
	<!-- 데이터 조회 -->
	<!-- 전체 조회 -->
	<select id="cartList" resultType="CartDto">
		select * from cart order by cart_date desc
	</select>
	<!-- 회원별 조회 -->
	<select id="cartFind" resultType="CartDto">
		select * from cart where cart_user_id = #{cartUserId}
	</select>

</mapper>