<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cinema">

	<select id="sequence" resultType="int">
		select cinema_seq.nextval from dual
	</select>
	
	<insert id="insert">
		insert into cinema (cinema_no, cinema_name, cinema_total_theater, 
		cinema_region, cinema_post, cinema_address1, cinema_address2, 
		cinema_manager, cinema_manager_call, cinema_call) 
		values (#{cinemaNo}, #{cinemaName}, #{cinemaTotalTheater}, #{cinemaRegion}, 
		#{cinemaPost}, #{cinemaAddress1}, #{cinemaAddress2}, 
		#{cinemaManager}, #{cinemaManagerCall}, #{cinemaCall})
	</insert>
	
	<select id="findName" resultType="String">
		select cinema_name from cinema where cinema_region = #{cinemaRegion}
	</select>
	
	<select id="find" resultType="CinemaDto">
		select * from cinema where cinema_name = #{cinemaName}
	</select>
	
	<select id="findByNo" resultType="CinemaDto">
		select * from cinema where cinema_no = #{cinemaNo}
	</select>
	
	<select id="list" resultType="CinemaDto">
		select * from cinema order by cinema_name asc
	</select>
	
	<update id="edit">
		update cinema
		<set>
			<if test="cinemaName != null">
				cinema_name = #{cinemaName},
			</if>
			<if test="cinemaTotalTheater != null">
				cinema_total_theater = #{cinemaTotalTheater},
			</if>
			<if test="cinemaRegion != null">
				cinema_region = #{cinemaRegion},
			</if>
			<if test="cinemaPost != null">
				cinema_post = #{cinemaPost},
			</if>
			<if test="cinemaAddress1 != null">
				cinema_address1 = #{cinemaAddress1},
			</if>
			<if test="cinemaAddress2 != null">
				cinema_address2 = #{cinemaAddress2},
			</if>
			<if test="cinemaManager != null">
				cinema_manager = #{cinemaManager},
			</if>
			<if test="cinemaManagerCall != null">
				cinema_manager_call = #{cinemaManagerCall},
			</if>
			<if test="cinemaCall != null">
				cinema_call = #{cinemaCall},
			</if>
		</set>
		where cinema_no = #{cinemaNo}	
	</update>
	
	<delete id="delete">
		delete cinema where cinema_no = #{cinemaNo}
	</delete>
	

</mapper>