<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="movie">

	<select id="sequence" resultType="int">
		select movie_seq.nextval from dual
	</select>
	
	<insert id="insert">
		insert into movie (movie_no, movie_title, movie_genre, movie_running_time, 
									movie_year, movie_open_date, movie_close_date, movie_age, 
									movie_origin, movie_on, movie_summary, movie_translation, movie_screen_type, 
									movie_director, movie_actor) 
		values (#{movieNo}, #{movieTitle}, #{movieGenre}, #{movieRunningTime}, 
					#{movieYear}, #{movieOpenDate}, #{movieCloseDate}, #{movieAge}, 
					#{movieOrigin}, #{movieOn}, #{movieSummary}, #{movieTranslation}, #{movieScreenType}, 
					#{movieDirector}, #{movieActor})
	</insert>

	<select id="list" resultType="MovieDto">
		select * from movie order by movie_open_date asc
	</select>

	<select id="find" resultType="MovieDto">
		select * from movie where movie_no = #{movieNo}
	</select>
	
	<update id="edit">
		update movie
		<set>
			<if test="movieTitle != null">
				movie_title = #{movieTitle},
			</if>
			<if test="movieGenre != null">
				movie_genre = #{movieGenre},
			</if>
			<if test="movieRunningTime != null">
				movie_running_time = #{movieRunningTime},
			</if>
			<if test="movieYear != null">
				movie_year = #{movieYear}
			</if>
			<if test="movieOpenDate != null">
				movie_open_date = #{movieOpenDate}
			</if>
			<if test="movieCloseDate != null">
				movie_close_date = #{movieCloseDate}
			</if>
			<if test="movieAge != null">
				movie_age = #{movieAge}
			</if>
			<if test="movieOrigin != null">
				movie_origin = #{movieOrigin}
			</if>
			<if test="movieOn != null">
				movie_on = #{movieOn}
			</if>
			<if test="movieSummary != null">
				movie_summary = #{movieSummary}
			</if>
			<if test="movieTranslation != null">
				movie_translation = #{movieTranslation}
			</if>
			<if test="movieScreenType != null">
				movie_screen_type = #{movieScreenType}
			</if>
			<if test="movieDirector != null">
				movie_director = #{movieDirector}
			</if>
			<if test="movieActor != null">
				movie_actor = #{movieActor}
			</if>
		</set>
		where movie_no = #{movieNo}	
	</update>
	
	<delete id="delete">
		delete movie where movie_no = #{movieNo}
	</delete>
	
	<insert id="connect">
		insert into movie_attach (movie_no, attach_no) values (#{movieNo}, #{attachNo})
	</insert>
	
	<select id="findAttach" resultType="int">
		select attach_no from movie_attach where movie_no = #{movieNo}
	</select>

</mapper>