<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nonUser">

<insert id="input">
    insert into non_user (non_user_email, non_user_birth, non_user_pw)
    values(#{nonUserEmail}, #{nonUserBirth}, #{nonUserPw})
</insert>

<delete id="delete">
    delete non_user where non_user_email = #{nonUserEmail}
</delete>

<!-- 아이디 검색 -->
    <select id="find" resultType="nonUserDto">
        select * from non_user where non_user_email = #{nonUserEmail}
    </select>

    <!-- 출력 -->
    <select id="list" resultType="nonUserDto">
        select * from non_user order by non_user_email
    </select>
    
    <!-- 토큰으로 userEmail 찾기 -->
	<select id="tokenFind" resultType="nonUserDto">
		SELECT non_user_email
		FROM non_user
		WHERE non_user_email = (
		SELECT non_user_id
		FROM non_user_authorization
		WHERE token = #{token})
	</select>
	
	<!-- 토큰으로 nonUser모든 정보 찾기 -->
	<select id="allFind" resultType="NonUserDto">
	    SELECT
	        non_user_email AS nonUserEmail,
	        non_user_birth AS nonUserBirth,
	        non_user_pw AS nonUserPw,
	        non_user_login AS nonUserLogin,
	        non_user_out AS nonUserOut,
	        a.token AS token
	    FROM
	        non_user u
	    JOIN
	        non_user_authorization a
	    ON
	        u.non_user_email = a.non_user_id
	    WHERE
	        a.token = #{token}
	</select>


</mapper>