<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userCert">

    <insert id="insert">
        insert into user_cert (cert_email, cert_code)
        values (#{certEmail}, #{certCode})
    </insert>

    <delete id="delete">
        delete from user_cert where cert_email = #{certEmail}
    </delete>

    <select id="selectOne" resultType="UserCertDto">
        select * from user_cert where cert_email = #{certEmail}
    </select>

   <select id="checkValid" resultType="UserCertDto">
	    select * from user_cert where
	    cert_email = #{certEmail} and 
	    cert_code = #{certCode} and 
	    cert_time <![CDATA[ > ]]>= SYSDATE
	</select>

    <delete id="deleteExpiredCert">
        delete from user_cert where cert_time <![CDATA[ < ]]> SYSDATE
    </delete>

</mapper>
