<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="write">
	
	<select id="sequence" resultType="int">
		select write_seq.nextval from dual
	</select>
	<insert id="save">
		 insert into write(write_no, personal_no, write_id, write_title, write_content)
    values (write_seq.NEXTVAL, #{personalNo}, #{writeId}, #{writeTitle}, #{writeContent})
	</insert>
	
<select id="list" resultType="writeDto">
    select * from write order by write_no asc
</select>
	<select id="find" resultType="writeDto">
		select * from write where write_no = #{writeNo}
		
	</select>
	
	<update id ="edit">
		update write
			set
				write_id = #{writeId},
				write_title = #{writeTitle},
				write_content = #{writeContent}
			where write_no =  #{writeNo}
	</update>

	<update id="delete">
		delete write where write_no = #{writeNo}
	</update>
	
<insert id="reply">
    insert into write(write_no, personal_no, write_id, write_title, write_content)
    values (write_seq.NEXTVAL, #{personalNo}, #{writeId}, #{writeTitle}, #{writeContent})
</insert>



	
</mapper>